/* tic-tac-toe stylesheet */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-image: linear-gradient(
    to right,
    rgb(56, 99, 57),
    rgb(123, 151, 113)
  );
  font-family: "Comic Sans MS";
  height: 100vh;
  width: 100vw;
  margin: 0;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-size: 3rem;
  margin: 5px;
}

header {
  text-align: center;
  color: white;
  background-color: rgb(0, 0, 0);
  width: inherit;
  box-shadow: 0 5px 20px 15px rgb(0, 0, 0, 0.5);
  margin-bottom: 20px;
  padding: 10px;
}

.gameContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: inherit;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  align-items: center;
  margin: 100px;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  border: 4px black solid;
  background-color: white;
}

.cell {
  text-align: center;
  align-content: center;
  font-size: 6.5rem;
  border: 4px black solid;
}

button {
  font-size: 1.5rem;
  font-family: "Comic Sans MS";
  border: none;
  padding: 10px 20px;
}

#restartBtn {
  font-size: 2rem;
  font-family: "Comic Sans MS";
  border: none;
  border-radius: 40px;
  margin: 30px;
  padding: 15px 30px;
  background-color: rgb(239, 200, 121);
}

#restartBtn:hover {
  background-color: rgb(136, 100, 56);
  transition: all ease 100ms;
}
